body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #8193b3;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: lightblue;
    flex-wrap: nowrap;
}

.logo {
    font-weight: bold;
    padding: 3px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
}

#title {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
}

#forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline: none;
}

.search-form {
    font-size: 10px;
    border: none;
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.search-form input[type="text"] {
    width: 500px;
    padding: 5px;
    font-size: 1rem;
}

.search-form input[type="number"] {
    font-size: 1rem;
    border-radius: 0px;
    border: 1px solid gray;
    height: 22px;
}

.search-form input[type="number"]:hover {
    border: 1px solid #26A0DA;
}

.search-form button {
    background-color: #fff;
    border: 1px solid gray;
    padding: 6px 12px;
}

.search-form button:hover {
    background-color: #f0f0f0;
    border: 1px solid #26A0DA;
}

.search-form select {
    padding: 6px;
    background-color: white;
    border: 1px solid gray
}

.search-form select:hover {
    border: 1px solid #26A0DA;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 3px;
    margin: 3px;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(200, 200, 255);
    transition: background-color 500ms;
}

.nav-links a:hover {
    background-color: #6666AB;
}

#ingredientsForm li{
    list-style-type: none;
}

#createPage {
    justify-content: center;
}