<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create New Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1 id="pageHeader"><img class="logo" src="/static/temp.jpg">CreateYourRecipe.com</h1>
    <h3>Create a New Recipe</h3>
    <div class="grid">
        <form>
            <div class="search-form">
                <ul id="ingredientsForm">
                    <li id="ingr">
                        <select>
                            <option value="" selected disabled>Ingredients</option>
                            <option value="Egg">Egg</option>
                            <option value="Milk">Milk</option>
                            <option value="Flour">Flour</option>
                            <option value="Other">Other</option>
                        </select>
                        <input type="number" name="amount" placeholder="Amount" required>
                    </li>
                </ul>
            </div>
            <div class="search-form" id="addRemButtons">
                <button type="button" id="addIngredients" onclick="addIngredient()">Add Another</button>
                <button type="button" id="addIngredients" onclick="remIngredient()">Remove Field</button>
            </div>
        </form>
        <form>
            <div class="search-form">
                <ol id="instructionsForm">
                    <li id="inst">
                        <textarea placeholder="Instruction" rows="5" cols="40"></textarea>
                    </li>
                </ol>
            </div>
            <div class="search-form" id="addRemButtons">
                <button type="button" id="addInstructions" onclick="addInstruction()">Add Another</button>
                <button type="button" id="addInstructions" onclick="remInstruction()">Remove Field</button>
            </div>
        </form>
    </div>
    <div class="search-form" id="createPage">
        <button type="button" id="newIngredient" onclick="popUp()">Add Unlisted Ingredient</button>
        <button type="submit">Save</button>
        <button type="button">Download</button>
        <button type="button">Delete</button>
        <a href="{{ url_for('home') }}">
            <button type="button">Go Back</button>
        </a>
    </div>
    <script src="/static/addField.js"></script>
</body>

</html>