<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Find your Recipes</h1>

    <nav class="navbar">
        <div id="title"><img class="logo" src="/static/temp.jpg">CreateYourRecipe</div>
        <form class="search-form" action="/recipes" method="GET">
            <input type="text" name="query" placeholder="Search recipes...">
            <select name="filter">
                <option value="">All</option>
                <option value="vegan">Vegan</option>
                <option value="dessert">Dessert</option>
            </select>
            <button type="submit">Search</button>
        </form>
    
        <ul class="nav-links">
            <li><a href="/recipes/create" class="btn-create">Create Recipe</a></li>
            <li><a href="#">Explore Recipes</a></li>
        </ul>
    </nav>
</body>
</html>
