<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <img class="logo" src="/static/chef.jpg" alt="Logo">
            <div class="title">CreateYourRecipe.com</div>
        </div>
    
        <nav class="navbar">
            <form class="search-form" action="/recipes" method="GET">
                <input type="text" name="query" placeholder="Search recipes...">
                <select name="filterType">
                    <option value="title">Recipe Name</option>
                    <option value="cuisine">Cuisine</option>
                    <option value="time">Cook Time</option>
                    <option value="diff">Difficulty</option>
                </select>
                <button type="submit">Search</button>
            </form>
            <ul class="nav-links">
                <li><a href="/recipes/create" class="nav-button">Create Recipe</a></li>
            </ul>
        </nav>
    </header>    

    <div class="recipe-list">
        {% for recipe in recipes %}
            <div class="recipe-card">
                <h2>{{ recipe.title }}</h2>

                {% if recipe.difficulty %}
                <p> Recipe Difficulty: {{ recipe.difficulty }}</p>
                {% endif %}

                {% if recipe.cuisine %}
                <p>Cuisine:  {{ recipe.cuisine }}</p>
                {% endif %}

                {% if recipe.instructions %}
                    <h3>Instructions</h3>
                    <p>{{ recipe.instructions }}</p>
                {% endif %}

                {% if recipe.cook_time %}
                <p> Recipe Cook Time: {{ recipe.cook_time }}</p>
                {% endif %}
            </div>
        {% else %}
            <p>No recipes found.</p>
        {% endfor %}
    </div>
</body>
</html>
