<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ingredient</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header">
        <div class="header-top">
            <img class="logo" src="/static/chef.jpg" alt="Logo">
            <div class="title">CreateYourRecipe.com</div>
        </div>
        <nav class="navbar">
            Add an unlisted ingredient:
           <form class="search-form" method="POST" action="{{ url_for('ingredient') }}">
                <input type="text" name="name" placeholder="Ingredient Name" required>
                <select name="measures" required>
                    <option value="weight">Weight</option>
                    <option value="volume">Volume</option>
                    <option value="cup">Cups</option>
                    <option value="table">Tablespoons</option>
                    <option value="tea">Teaspoons</option>
                    <option value="qty">Quantity</option>
                </select>
                <button type="submit">Add</button>
            </form>
        </nav>
    </header>
            {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <a href="{{ url_for('home') }}" class="go-back-btn">Go Back</a>
</body>
</html>