<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recipes List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="header">
        <div class="header-top">
            <a href="{{ url_for('home') }}" class = "home-link">
                <img class="logo" src="/static/chef.jpg" alt="Logo">
                <div class="title">CreateYourRecipe.com</div>
            </a>
        </div>
        <nav class="navbar">List of Recipes</nav>
    </header>
    <div class="recipe-list">
        {% for recipe in recipes %}
        <div class="recipe-card">
            <a href={{ url_for('recipe', id=recipe.id) }}>{{ recipe.title }}</a>

            {% if recipe.difficulty %}
            <p> Recipe Difficulty: {{ recipe.difficulty }}</p>
            {% endif %}

            {% if recipe.cuisine %}
            <p>Cuisine: {{ recipe.cuisine }}</p>
            {% endif %}

            {% if recipe.cook_time %}
            <p> Recipe Cook Time: {{ recipe.cook_time }}</p>
            {% endif %}
        </div>
        {% else %}
        <p>No recipes found.</p>
        {% endfor %}
    </div>
    <a href="/"><button type="button">Go Back</button></a>
</body>

</html>