<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
    <div class="header-top">
        <a href="{{ url_for('home') }}" class="home-link">
        <img class="logo" src="/static/chef.jpg" alt="Logo">
        <div class="title">CreateYourRecipe.com</div>
        </a>
    </div>
        <nav class="navbar">
            Viewing Recipe
        </nav>
    </header>
    <div class="recipe-card-container">
        <div class="recipe-card">
        <h2>{{ recipe.title }}</h2>

        {% if recipe.difficulty %}
            <p>Recipe Difficulty: {{ recipe.difficulty }}</p>
        {% endif %}

        {% if recipe.cuisine %}
            <p>Cuisine: {{ recipe.cuisine }}</p>
        {% endif %}

        {% if recipe.instructions %}
            <h3>Instructions</h3>
            <p class="instructions">{{ recipe.instructions }}</p>
        {% endif %}

        {% if recipe.cook_time %}
            <p>Recipe Cook Time: {{ recipe.cook_time }}</p>
        {% endif %}
        <div class="commentSection">
            <form method="POST" action="">
                <input type="text" placeholder="Name" name="author" required>
                <textarea rows="3" cols="40" placeholder="Comment Here" style="width: 90%;" name="commentPost" required></textarea>
                <button type="submit">➤</button>
            </form>
        </div>
        <div class = "commentContainer">
            {% for comment in commentList %}
                <div class = "commentCard">
                {% if comment.author %}
                    <h3 class="commentAuthor">{{ comment.author }}</h3>
                {% endif %}
                {% if comment.commentPost %}
                    <p class="commentBody">{{ comment.commentPost }}</p>
                {% endif %}
                </div>
            {% else %}
                <p>No Comments!</p>
            {% endfor %}
        </div>
    </div>
    </div>
</body>
</html>